{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Beri CSV datoteko {% endblock %}</h1>

<form method = "POST" enctype="multipart/form-data" action = "/readCSV">    
    <div class="form-group">
        <label for="Izberi CSV datoteko">Ime</label>
        <input type="file" name="file" accept=".csv">
        <input type = "submit" value="Upload">  
    </div>
</form>
<p style="color:green;"> File uploaded successfully!! </p>
<form action="/show_data" target="_blank">
    <input type="submit" value="Show CSV"/>
</form>
<form action="/write_data" target="_blank">
    <input type="submit" value="Write CSV sensorData"/>
</form>
<form action="/write_sensor_data" target="_blank">
    <input type="submit" value="Write CSV sensor"/>
</form>
<form action="/write_SensorDataInt" target="_blank">
    <input type="submit" value="Write CSV sensorDataInt"/>
</form>

<hr>

{% endblock %}